@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Quicksand');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ece5dd;
    font-family: 'Quicksand', sans-serif;
	font-size: 14px;
	font-weight: 400;
    text-align: center;
    width: 100%;
}
	
.home {
    display:block;
	background-image:url("img/font.jpg");
    background-size: 100%;
    width: 100%;
    min-height: 100%;
    height: auto !important;
    position: fixed;
    top:0; 
    left:0;
    text-align: center;
}

.button {
	width: 200px;
	height: 65px;
    border-radius: 9px;
    color:white;
    background-color: #25d366;
    text-align: center; 
    font-family: 'Bree Serif', serif;
	font-size: 20px;
    font-weight:bold;
	margin: 9px auto 0 auto;
	padding: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #ddd;
    color: black;
    border-radius: 9px;
}
 

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: 'Quicksand', sans-serif;
}

#hidden {
    width: 100%;
    margin: 0 auto;
    display: none; 
    background-color: #ece5dd;
    color: #11100e;
}

.main {
    width: 100%;  
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #ece5dd;
    position: relative;
    z-index: 1;
}

.main::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: center;
}

.container {
    width: 100%;
    background:  #fff;
    border-radius: 4px;
    overflow: hidden;
}

.buttons {
    width: 100%;  
    background-position: center;  
    padding: 10px;
}

.container-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
}

input, textarea {
    position: relative;
    width: 100%;
    z-index: 1;
    padding: 10px;
    font-family: 'Bree Serif', serif;
    font: 1em;
    box-sizing: border-box;
    color: #ffffff;
    background-color: #075e54;
    border: none;
    border-radius: 5px;
    display: block;
    margin: 9px auto 0 auto;
    padding: 5px;
}

input{
	width: 90px;
}

input:focus{
	border-color: #000000;
} 

buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
  
.buttonCD {
    font-family: 'Bree Serif', serif;
    font-size: 25px;
    line-height: 1.5;
    color: black;
    width: 100%;
    height: 62px;
    border-radius: #dcf8c6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
  
.buttonCD:hover {
    background: orange;
}

footer {
    width: 100%;
}
