/* Estilo de la sección */
section {
    margin: auto;
    width: 90%;
    padding: 20px;
}

/* Estilo de los encabezados */
h1, h3 {
    text-align: center;
}

/* Estilo de los contenedores*/
div {
    padding: 20px;
    display: inline-block;
    margin: 20 px auto; /*estocentraaaa ejm gaby flexbox css tricks or css tricks, flexbbox*/
}

/* Estilo del área de texto */
textarea {
    width: 300px;
    height: 100px;
    margin: 10px 0 10px 0;
}

/* Estilo de los botones */
input {
    width: 45px;
}